

<div class="modern-banner d-flex ">
    <div class="banner-content">
        <h1 class="text">@Heading</h1>
        @if(SubHeading != null)
        {
            <p class="text subheading">@SubHeading</p>
        }
    </div>

    <div class="mr-3 mt-6">
            @ChildContent
        </div>

</div>

